.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
}


.text-radiant {
    color: #ffffff;
    font-weight: 900;
}

.bg-items {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1px);
}
.bg-items2 {
    background-color: rgba(255, 196, 196, 0.25);
    backdrop-filter: blur(1px);
}